*.iml
Android/KanishkaHalder/Advanced/NewsFeed/.gradle
Android/KanishkaHalder/Advanced/NewsFeed/local.properties
Android/KanishkaHalder/Advanced/NewsFeed/apiKey.properties
Android/KanishkaHalder/Advanced/NewsFeed/.idea/caches
Android/KanishkaHalder/Advanced/NewsFeed/.idea/libraries
Android/KanishkaHalder/Advanced/NewsFeed/.idea/modules.xml
Android/KanishkaHalder/Advanced/NewsFeed/.idea/workspace.xml
Android/KanishkaHalder/Advanced/NewsFeed/.idea/navEditor.xml
Android/KanishkaHalder/Advanced/NewsFeed/.idea/assetWizardSettings.xml
Android/KanishkaHalder/Advanced/NewsFeed/.DS_Store
Android/KanishkaHalder/Advanced/NewsFeed/build
Android/KanishkaHalder/Advanced/NewsFeed/captures
Android/KanishkaHalder/Advanced/NewsFeed/.externalNativeBuild
Android/KanishkaHalder/Advanced/NewsFeed/.cxx
Android/KanishkaHalder/Beginner/Contact_App/.gradle
Android/KanishkaHalder/Beginner/Contact_App/local.properties
Android/KanishkaHalder/Beginner/Contact_App/.idea/caches
Android/KanishkaHalder/Beginner/Contact_App/.idea/libraries
Android/KanishkaHalder/Beginner/Contact_App/.idea/modules.xml
Android/KanishkaHalder/Beginner/Contact_App/.idea/workspace.xml
Android/KanishkaHalder/Beginner/Contact_App/.idea/navEditor.xml
Android/KanishkaHalder/Beginner/Contact_App/.idea/assetWizardSettings.xml
Android/KanishkaHalder/Beginner/Contact_App/.DS_Store
Android/KanishkaHalder/Beginner/Contact_App/build
Android/KanishkaHalder/Beginner/Contact_App/captures
Android/KanishkaHalder/Beginner/Contact_App/.externalNativeBuild
Android/KanishkaHalder/Beginner/Contact_App/.cxx
Android/KanishkaHalder/Intermediate/ToDoList/.gradle
Android/KanishkaHalder/Intermediate/ToDoList/local.properties
Android/KanishkaHalder/Intermediate/ToDoList/.idea/caches
Android/KanishkaHalder/Intermediate/ToDoList/.idea/libraries
Android/KanishkaHalder/Intermediate/ToDoList/.idea/modules.xml
Android/KanishkaHalder/Intermediate/ToDoList/.idea/workspace.xml
Android/KanishkaHalder/Intermediate/ToDoList/.idea/navEditor.xml
Android/KanishkaHalder/Intermediate/ToDoList/.idea/assetWizardSettings.xml
Android/KanishkaHalder/Intermediate/ToDoList/.DS_Store
Android/KanishkaHalder/Intermediate/ToDoList/build
Android/KanishkaHalder/Intermediate/ToDoList/captures
Android/KanishkaHalder/Intermediate/ToDoList/.externalNativeBuild
Android/KanishkaHalder/Intermediate/ToDoList/.cxx